body{
    background-image: url("backgroundimg1.jpg");
}
.Title{
    text-align: center;
    color:aliceblue
}
.table{
    color: aliceblue;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: aquamarine;
}